<h1 style="text-align:center;">HOGWARTS ADMISSIONS PORTAL</h1>
<h3 style="text-align:center;">Use the Menu below to navigate the portal.</h3><br>
<p style="text-align:center;"> <a href="/students">View All Students</a> </p>
<br>
