<h1 style="text-align:center;">HOGWARTS ADMISSIONS PORTAL</h1>
<h2 style="text-align:center;">Use the Menu below to navigate the portal.</h2><br>
<h3 style="text-align:center;"> <a href="/students">View All Students</a> </h3>
<h3 style="text-align:center;"> <a href="/students/new">Add Student</a> </h3>
<br>
