<h3 style="text-align:center;"> First Name: <%= @student.first_name() %> </h3>
<h3 style="text-align:center;"> Last Name: <%= @student.last_name() %> </h3>
<h3 style="text-align:center;"> Age: <%= @student.age() %> </h3>
<h3 style="text-align:center;"> House: <%= @student.house() %> </h3>
